<div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4">
          <h3> Ausgaben </h3>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseA"><span class="glyphicon glyphicon-home">
                  </span>Wohnen</a><span class="subsum">1.199 €</span>
              </h4>
            </div>
            <div id="collapseA" class="panel-collapse collapse in">
  
              <ul class="list-group">
                <li class="list-group-item"><span class="glyphicon glyphicon-pencil"></span><a href="">Kaltmiete</a><span class="subsum">849 €</span>
                  <!-- <ul class="list-group">
                    <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://fb.com/moinakbarali">Articles</a></li>
                     
                  </ul> -->
                </li>
  
                <li class="list-group-item"><span class="glyphicon glyphicon-signal"></span><a href="http://fb.com/moinakbarali">Nebenkosten</a><span class="subsum">144,22€</span></li>
                  <li class="list-group-item"><span class="glyphicon glyphicon-plane"></span><a href="http://fb.com/moinakbarali">Versicherungen</a><span class="subsum"> 14€</span></li>
  
                  <!-- <li class="list-group-item"> <span class="glyphicon glyphicon-comment text-success"></span><a href="">Comments</a><span class="subsum">420 €</span></li> -->
              </ul>
            </div>
          </div>
  
         <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseB"><span class="glyphicon glyphicon-signal">
                  </span>Wertpapiergeschäfte</a>
              </h4>
            </div>
            <div id="collapseB" class="panel-collapse collapse">
              <div class="list-group">
                  <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://fb.com/moinakbarali">Articles</a>
                    <ul class="list-group">
                      <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://fb.com/moinakbarali">Articles</a></li>
                       
                      <li class="list-group-item"><span class="glyphicon glyphicon-flash text-success"></span><a href="http://fb.com/moinakbarali">News</a></li>
    
                      <li class="list-group-item"><span class="glyphicon glyphicon-file text-info"></span><a href="http://fb.com/moinakbarali">Newsletters</a></li>
    
                      <li class="list-group-item"> <span class="glyphicon glyphicon-comment text-success"></span><a href="http://fb.com/moinakbarali">Comments</a><span class="badge">42</span></li>
    
                    </ul>
                  </li>
              </div>
            </div>
          </div>
  
  
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseC"><span class="glyphicon glyphicon-home">
                  </span>Miet- und Pachteinnahmen</a>
              </h4>
            </div>
            <div id="collapseC" class="panel-collapse collapse">
              <div class="list-group">
                  <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://fb.com/moinakbarali">Articles</a>
                    <ul class="list-group">
                      <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://fb.com/moinakbarali">Articles</a></li>
                       
                      <li class="list-group-item"><span class="glyphicon glyphicon-flash text-success"></span><a href="http://fb.com/moinakbarali">News</a></li>
    
                      <li class="list-group-item"><span class="glyphicon glyphicon-file text-info"></span><a href="http://fb.com/moinakbarali">Newsletters</a></li>
    
                      <li class="list-group-item"> <span class="glyphicon glyphicon-comment text-success"></span><a href="http://fb.com/moinakbarali">Comments</a><span class="badge">42</span></li>
    
                    </ul>
                  </li>
  
              </div>
            </div>
          </div>
  
          <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseD"><span class="glyphicon glyphicon-paperclip">
                    </span>Sonstige Einnahmen</a>
                </h4>
              </div>
              <div id="collapseD" class="panel-collapse collapse">
                <div class="list-group">
                    <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://fb.com/moinakbarali">Articles</a>
                      <ul class="list-group">
                        <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://fb.com/moinakbarali">Articles</a></li>
                         
                        <li class="list-group-item"><span class="glyphicon glyphicon-flash text-success"></span><a href="http://fb.com/moinakbarali">News</a></li>
      
                        <li class="list-group-item"><span class="glyphicon glyphicon-file text-info"></span><a href="http://fb.com/moinakbarali">Newsletters</a></li>
      
                        <li class="list-group-item"> <span class="glyphicon glyphicon-comment text-success"></span><a href="http://fb.com/moinakbarali">Comments</a><span class="badge">42</span></li>
      
                      </ul>
                    </li>
      
                </div>
              </div>
            </div>
          </div>
        </div>
  
  
        </div>
      </div>
  
   
  
  
      <!-- <div class="col-sm-9 col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Dashboard</h3>
          </div>
          <div class="panel-body">
            <p>Admin Dashboard Accordion List Group Menu</p>
            <div class="alert alert-success"><h3>Yes! It's compatible with BS 3.0.3, 3.1 & 3.2 </h3></div>
          </div>
        </div>
      </div>
    </div>
  </div> -->