

<div class="row">
    <div class="col-md-12">
        <b> Konto:</b ><ss-multiselect-dropdown [options]="myOptions" [(ngModel)]="optionsModel" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
          <b> Zeitraum:</b > 
            
            <!-- <md-date-range ng-model="selectedRange" placeholder="Select Date Range"></md-date-range> -->
            
            <!-- Alter Date Picker: <material-datepicker [(date)]="yourModelDate"></material-datepicker> bis <material-datepicker [(date)]="yourModelDate"></material-datepicker> -->
            
          <hr>
    </div>
    <br>
    <div class="col-md-6">
        <app-income-list></app-income-list>        
    </div>
    <div class="col-md-6">
        <app-spending-list></app-spending-list>        
    </div>


  </div>





<!-- <ul>
  <li>Example</li>
  <li *ngFor="let account of accounts">{{account}}</li>
</ul> -->


