<div class = "mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class = "mdl-layout__header" id="settings-header">
       <div class = "mdl-layout__header-row">      
          <span class = "mdl-layout-title">finBalance - Settings</span>          
       </div>       
    </header>     
    
    <main class = "mdl-layout__content">    
       <div class = "mdl-tabs mdl-js-tabs">
          <div class = "mdl-tabs__tab-bar">
             <a href = "#tab1-panel" class = "mdl-tabs__tab is-active">Allgemein</a>
             <a href = "#tab2-panel" class = "mdl-tabs__tab">Liquidität</a>
             <a href = "#tab3-panel" class = "mdl-tabs__tab">Anlagen</a>
             <a href = "#tab4-panel" class = "mdl-tabs__tab">Sicherheit</a>
             
          </div>
          
          <!-- Next Task: Put that Tab Content in own components!  -->

          <div class = "mdl-tabs__panel is-active" id = "tab1-panel">
            <p>  Settings Allgemein... </p>
          </div>
       
          <div class = "mdl-tabs__panel" id = "tab2-panel">
             <app-liquidity-settings></app-liquidity-settings>
          </div>

          <div class = "mdl-tabs__panel" id = "tab3-panel">
            <p>Tab 3 Content</p>
         </div>
       
          <div class = "mdl-tabs__panel" id = "tab5-panel">
             <p>Tab 4 Content</p>
          </div>
       </div>
    </main>